@using GidaGkpWeb.Global
@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Infrastructure.Utility;
@using GidaGkpWeb.Models;

@{
    Layout = null;
    var UserAppData = ViewData["UserData"] as ApplicationUserModel;
}


<!DOCTYPE html>
<html class="no-js">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Welcome to GIDA | Online Single Window System</title>
    <meta name="theme-color" content="#ffffff">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="files/favicon.ico" type="image/vnd.microsoft.icon" />
    <!--New Bootstrep-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="~/Scripts/lib/jquery-1.10.2.js"></script>
    <script src="~/Scripts/App/Global/Utility.js"></script>
    <style type="text/css">
    </style>
</head>
<body>

    <div class="container-fluid" style="background:#f6f6f6">
        <div class="row">
            <div class="col-xs-4">
                <div class="pull-left">
                    <div style="margin-left:1em; padding-top: 8px;" class="time hidesmall">
                        <noscript>
                            Javascript Required
                        </noscript>
                        <script type="text/javascript">
                            var d = new Date()
                            var weekday = new Array("Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday")
                            var monthname = new Array("Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec")
                            document.write(weekday[d.getDay()] + ", ")
                            document.write(d.getDate() + " ")
                            document.write(monthname[d.getMonth()] + ", ")
                            document.write(d.getFullYear())
                        </script>Thursday, 14 Jan, 2021
                        <span id="clockDisplay">10:39:34 PM</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-8">
            </div>
        </div>
    </div>

    <div class="container-fluid" style="background:#fff">
        <div class="row" style="padding:10px 0px;">
            <div class="col-sm-10 col-xs-12">
                <a href="javascript:void(0);" title="Home" rel="home">
                    <img src="~/Content/files/Gida-mainlogo.png" class="logo_class" alt="Home">
                </a>
                <div class="logotitle">
                    Gorakhpur Industrial Development Authority (GIDA)<br>
                    <div class="logohtitle">गोरखपुर औद्योगिक विकास प्राधिकरण  (गीडा) </div>
                </div>
            </div>
            <div class="col-sm-2 col-xs-12  hidesmall">
                <div style="margin-top:0.5em;margin-bottom:0.5em;margin-right:2em;" class="pull-right">
                    <a href="javascript:void(0);">
                        <img height="80px" src="~/Content/files/Uttar_Pradesh.svg.png" width="80px">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================
    MAIN CONTENT SECTION
    =============================================== -->
    <section class="form">
        <!-- MultiStep Form -->
        <div class="container-fluid" id="grad1">
            <div class="container" id="printContainer" style="margin-top: -70px">
                <div class="row justify-content-center mt-0">
                    <div class="col-sm-12 col-xs-12">
                        <div class="card px-0 pt-4 pb-0 mt-3 mb-3">
                            <div class="col-sm-12 col-xs-12">
                                <center><h2><strong>Allotement Money - Make Payment</strong></h2></center>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-0" id="sectionPrint">

                    <div class="col-sm-12 col-xs-12" style="padding:15px;">
                        <div class="col-sm-6 col-xs-12 text-right">
                            <label for="usertype" class="text-uppercase">Net Payble Total Amount(In Rs.):</label>
                            <label for="usertype" class="text-uppercase"><b>@Convert.ToString(UserAppData.AllotementMoneyTobePaid)</b></label>

                        </div>
                        <div class="col-sm-6 col-xs-12 text-left">
                            <label for="usertype" class="text-uppercase">Application Number:</label>
                            <label for="usertype" class="text-uppercase"><b>@Convert.ToString(UserAppData.ApplicationNumber)</b></label>
                        </div>
                    </div>

                    <div class="form-group col-sm-12 col-xs-12" style=" text-align:center;">
                        <div class="coll-sm-12 col-xs-12">
                            <form method="post" name="redirect" action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
                                <input type="hidden" id="encRequest" name="encRequest" value="@Convert.ToString(Session["strEncRequest"])" />
                                <input type="hidden" name="access_code" id="Hidden1" value="@Convert.ToString(Session["strAccessCode"])" />

                                <input type="submit" name="next" id="btnMakePayment"
                                       class="btn btn-primary" value="Make Online Payment" style="margin-top:5%; margin-bottom:10%" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mx-0 col-md-offset-4">
                </div>
            </div>
        </div>
    </section>
    <!-- ============================================
    FOOTER SECTION
    =============================================== -->

    <div class="container-fluid" style=" background: #082b49 !important; padding-top:20px; text-align:center;">
        <div class="row">
            <div class="container">

                <div class="col-xs-12 text-center">
                    <address style="font-size:1em; line-height:20px; color:#fff;">
                        Copyright © Gorakhpur Industrial Development Authority,(GIDA) || All rights reserved.<br />
                        Sector-7, GIDA, Gorakhpur, Uttar Pradesh-273212<br />
                        Phone: 0551-2580010, Email: ceogida-up@up.gov.in
                    </address>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Content/js/carousel.html"></script>
    <script>
        // Comment ... //
        $(document).ready(function () {
            $('#myCarousel-2').carousel({
                interval: 4000
            });
        });
    </script>
    <script type='text/javascript' src='~/Content/cdn.jsdelivr.net/jquery.marquee/1.4.0/jquery.marquee.min.js'></script>
    <script>
        /**
     * Example of starting a plugin with options.
     * I am just passing some of the options in the following example.
     * you can also start the plugin using $('.marquee').marquee(); with defaults
*/
        $('.marquee').marquee({
            //speed in milliseconds of the marquee
            duration: 15000,
            //gap in pixels between the tickers
            gap: 50,
            //time in milliseconds before the marquee will start animating
            delayBeforeStart: 0,
            //'left' or 'right'
            direction: 'left',
            //true or false - should the marquee be duplicated to show an effect of continues flow
            duplicated: false,
            pauseOnHover: true,
            allowCss3Support: true
        });
    </script>

    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

    <script>
        $(function () {
            $("#ticker a").each(function (i) {
                len = $(this).text().length;
                if (len > 40) {
                    $(this).text($(this).text().substr(0, 40) + '...');
                }
            });
        });
    </script>
    <script type="text/javascript" src="#"></script>

    @if (TempData["Alert_Title"] != null)
    {
        <div id="dialog" title="@TempData["Alert_Title"].ToString()">
            @if (TempData["Alert_Message"] != null)
            {
                <p>@TempData["Alert_Message"].ToString()</p>
            }
            else
            {
                <p>Success..!</p>
            }
        </div>
    }
    @*Alert*@
    <div id="alertModel" style="display:none;" title="">
        <p></p>
    </div>

    <script src="~/Scripts/lib/jquery-ui.js"></script>
    <link href="~/styles/jquery-ui.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
        $(document).on('click', '#btnPrint', function () {
            var pageTitle = 'GIDA Plot Allotement Money Payment';
            stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                pageStyleSheet = 'https://gidagkp.in/styles/style.css',
                win = window.open('', 'Print', 'width=1000,height=1000');
            $('#btnPrint').css('display', 'none');
            $('#btnMakePayment').css('display', 'none');
            $('#btnPrintDocument').css('display', 'block');

            var dd = $('#printContainer').clone();
            win.document.write('<html><head><title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' +
                '<link rel="stylesheet" href="' + pageStyleSheet + '">' +
                '</head><body>' + dd.html() + '</body ></html > ');
            win.document.close();
            //win.print();
            $('#btnPrint').css('display', 'block');
            $('#btnMakePayment').css('display', 'block');
            $('#btnPrintDocument').css('display', 'none');
            //win.close();
            return false;
        });
    </script>
</body>
</html>

