@using DataLayer;
@using GidaGkpWeb.Models;
@using GidaGkpWeb.Global
@using GidaGkpWeb.Infrastructure.Authentication;
@using GidaGkpWeb.Infrastructure.Utility;
@{

    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var UserDataModel = ViewData["UserDetail"] as ApplicationUserModel;
}
<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/SchemeWiseApplicationList.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<style>
    button.submit_plot_master353 {
        background: #ff2e2e;
        color: #fff;
        border: 0px;
        padding: 3px 10px;
        font-size: 12px;
        text-align: center;
    }

    #DocModal {
        left: -22%;
    }

        #DocModal .modal-content {
            width: 160%;
        }

        #DocModal .modal-body {
            height: 400px;
            overflow-y: auto;
        }

    #basicModal {
        width: 100%;
        left: -185px;
    }

        #basicModal .modal-content {
            width: 160%;
        }
</style>
<div class="container">
    <input type="hidden" value="@UserDataModel.ApplicationId" id="hdnApplicationId" />
    <input type="hidden" value="@UserDataModel.SchemeNameId" id="hdnSchemeNameId" />
    <div class="row">
        <div class="col-sm-12 col-xs-12 text-left" style="padding-bottom: 30px;">
            <h3 style="font-size:18px;">Application Status </h3>
            <hr />
        </div>

        <div class="form-group col-sm-4 col-xs-12">
            <label>Application Number</label>
            <input type="number" class="form-control" placeholder="@UserDataModel.ApplicationNumber" readonly>
        </div>
        <div class="form-group col-sm-4 col-xs-12">
            <label>Applicant Name</label>
            <input type="text" class="form-control" placeholder="@UserDataModel.FullName" readonly>
        </div>
        <div class="form-group col-sm-3 col-xs-12">
            <label>Mobile Number</label>
            <input type="Mobile" class="form-control" placeholder="@UserDataModel.ContactNo" readonly>
        </div>

        @*<div class="form-group col-sm-1 col-xs-12">
                <button type="button" class="submit_plot_master" value="button" style="padding:7px 15px; margin-top: 23px;">Search</button>
            </div>*@
        <div class="col-sm-12 col-xs-12">

            <div class="table-responsive" style="padding:10px 0 80px 0;">
                <table class="table table_css_main_cl table-bordered">
                    <tr>
                        <th class="text-center">S.No.</th>
                        <th class="text-center">Items</th>
                        <th class="text-center">Current Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                    <tr>
                        <td class="text-center">1</td>
                        <td>View Application Details </td>
                        <td></td>
                        <td class="text-right"> <button type="button" data-toggle="modal" data-target="#myModal" class="submit_plot_master353" value="button">View Details </button></td>
                    </tr>
                    <tr>
                        <td class="text-center">2</td>
                        <td>View Financial Status & Verify </td>
                        <td>
                            @if (UserDataModel.AMPaymentStatus != null && UserDataModel.AMPaymentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">Assistant Manager - @UserDataModel.AMPaymentStatus</span>
                            }
                            else if (UserDataModel.AMPaymentStatus != null && UserDataModel.AMPaymentStatus.Contains("Approved"))
                            {
                                <span style="color:green">Assistant Manager - @UserDataModel.AMPaymentStatus</span>
                            }
                            <br />
                            @if (UserDataModel.MPaymentStatus != null && UserDataModel.MPaymentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">Manager - @UserDataModel.MPaymentStatus</span>
                            }
                            else if (UserDataModel.MPaymentStatus != null && UserDataModel.MPaymentStatus.Contains("Approved"))
                            {
                                <span style="color:green">Manager - @UserDataModel.MPaymentStatus</span>
                            }
                            <br />
                            @if (UserDataModel.GMPaymentStatus != null && UserDataModel.GMPaymentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">General Manager - @UserDataModel.GMPaymentStatus   </span>
                            }
                            else if (UserDataModel.GMPaymentStatus != null && UserDataModel.GMPaymentStatus.Contains("Approved"))
                            {
                                <span style="color:green">General Manager - @UserDataModel.GMPaymentStatus</span>
                            }
                        </td>
                        <td class="text-right">
                            @if (hasPermissionOnPage("Scheme Wise Applicant List - Application Status - Finance Approval")
                                && hasPermission(PermissionName.AllAccess))
                            {
                                if (UserData.Department == "Finance & Accounts" && UserData.Designation == "Assistant Manager")
                                {
                                    if (string.IsNullOrEmpty(UserDataModel.AMPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#basicModal" class="submit_plot_master353" value="button">Financial Details </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Financial Details </button>
                                    }
                                }
                                else if (UserData.Department == "Finance & Accounts" && UserData.Designation == "Manager")
                                {
                                    if (!string.IsNullOrEmpty(UserDataModel.AMPaymentStatus) && string.IsNullOrEmpty(UserDataModel.MPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#basicModal" class="submit_plot_master353" value="button">Financial Details </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Financial Details </button>
                                    }
                                }
                                else if (UserData.Department == "Finance & Accounts" && UserData.Designation == "General Manager")
                                {
                                    if (!string.IsNullOrEmpty(UserDataModel.AMPaymentStatus) && !string.IsNullOrEmpty(UserDataModel.MPaymentStatus) && string.IsNullOrEmpty(UserDataModel.GMPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#basicModal" class="submit_plot_master353" value="button">Financial Details </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Financial Details </button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">3</td>
                        <td>View Uploaded Documents Status & Verify </td>
                        <td>
                            @if (UserDataModel.ClerkDocumentStatus != null && UserDataModel.ClerkDocumentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">Clerk - @UserDataModel.ClerkDocumentStatus</span>
                            }
                            else if (UserDataModel.ClerkDocumentStatus != null && UserDataModel.ClerkDocumentStatus.Contains("Approved"))
                            {
                                <span style="color:green">Clerk - @UserDataModel.ClerkDocumentStatus</span>
                            }
                            <br />
                            @if (UserDataModel.AMDocumentStatus != null && UserDataModel.AMDocumentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">Assistant Manager - @UserDataModel.AMDocumentStatus</span>
                            }
                            else if (UserDataModel.AMDocumentStatus != null && UserDataModel.AMDocumentStatus.Contains("Approved"))
                            {
                                <span style="color:green">Assistant Manager - @UserDataModel.AMDocumentStatus</span>
                            }
                            <br />
                            @if (UserDataModel.SIDocumentStatus != null && UserDataModel.SIDocumentStatus.Contains("Not Approved"))
                            {
                                <span style="color:red">Section Incharge - @UserDataModel.SIDocumentStatus</span>
                            }
                            else if (UserDataModel.SIDocumentStatus != null && UserDataModel.SIDocumentStatus.Contains("Approved"))
                            {
                                <span style="color:green">Section Incharge - @UserDataModel.SIDocumentStatus</span>
                            }
                        </td>
                        <td class="text-right">
                            @if (hasPermissionOnPage("Scheme Wise Applicant List - Application Status - Document Approval")
                               && hasPermission(PermissionName.AllAccess))
                            {
                                if (UserData.Department == "Property" && UserData.Designation == "Clerk")
                                {
                                    if (string.IsNullOrEmpty(UserDataModel.ClerkDocumentStatus) && !string.IsNullOrEmpty(UserDataModel.GMPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#DocModal" class="submit_plot_master353" value="button">Check Documents </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Check Documents </button>
                                    }
                                }
                                else if (UserData.Department == "Property" && UserData.Designation == "Assistant Manager")
                                {
                                    if (!string.IsNullOrEmpty(UserDataModel.ClerkDocumentStatus) && string.IsNullOrEmpty(UserDataModel.AMDocumentStatus) && !string.IsNullOrEmpty(UserDataModel.GMPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#DocModal" class="submit_plot_master353" value="button">Check Documents </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Check Documents </button>
                                    }
                                }
                                else if (UserData.Department == "Property" && UserData.Designation == "Section Incharge")
                                {
                                    if (!string.IsNullOrEmpty(UserDataModel.ClerkDocumentStatus) && !string.IsNullOrEmpty(UserDataModel.AMDocumentStatus) && string.IsNullOrEmpty(UserDataModel.SIDocumentStatus) && !string.IsNullOrEmpty(UserDataModel.GMPaymentStatus))
                                    {
                                        <button type="button" data-toggle="modal" data-target="#DocModal" class="submit_plot_master353" value="button">Check Documents </button>
                                    }
                                    else
                                    {
                                        <button type="button" class="submit_plot_master353" value="button" disabled="disabled" style="opacity: 0.5;">Check Documents </button>
                                    }
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Application Details</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">User Name</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.UserName">

                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Applicant Name</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.FullName">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Father Name</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.FatherName">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Application Number</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.ApplicationNumber">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Plot Area</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.PlotArea">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Amount Paid(In Rs.)</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.PaidAmount">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Contact Number</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.ContactNo">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Email</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.Email">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Aadhar Number</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.AadharNumber">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">D.O.B.</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.DOB">
                    </div>

                    @*<div class="form-group col-sm-6 col-xs-12">
                            <label for="user" class="">Comapny</label>
                            <input type="text" class="form-control" placeholder="@UserDataModel.com">
                        </div>*@
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Total Investment Amount(In Rs.)</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.TotalInvestment">
                    </div>
                    @*<div class="form-group col-sm-6 col-xs-12">
                            <label for="user" class="">Employement</label>
                            <input type="text" class="form-control" placeholder="@UserDataModel.emp">
                        </div>*@
                    <div class="form-group col-sm-12 col-xs-12">
                        <label for="user" class="">Current Address</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.CAddress">
                    </div>


                    <div class="col-sm-12 col-xs-12" style="padding:5px 15px 10px 15px; margin-bottom: 10px; border-bottom:1px solid #f5f5f5;">
                        <h3 style="font-size:15px;">Payment Details</h3>
                    </div>


                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Bank Name</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.BankName">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Payment Mode</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.PaymentMode">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Transaction ID</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.TransactionID">
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="user" class="">Payment  Date</label>
                        <input type="text" class="form-control" placeholder="@UserDataModel.TransactionDate">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" style="background:rgb(194, 63, 63); color:#fff;">Close</button>-->
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Applicant Payment Verify</h4>
            </div>
            <div class="modal-body pull-left" style="width:100%;">
                <div class="col-sm-12 col-xs-12">
                    <div class="table-responsive" style="padding:10px 0 0px 0;">
                        <table class="table table_css_main_cl table-bordered">
                            <tr>
                                <th class="text-center">S.No.</th>
                                <th class="text-center">Application Number</th>
                                <th class="text-center">Applicant Name</th>
                                <th class="text-center">Father's Name</th>
                                <th class="text-center">Transaction Number</th>
                                <th class="text-center">Transaction Date</th>
                                <th class="text-center">Form Fee Amount (₹)</th>
                                <th class="text-center">GST Amount (₹)</th>
                                <th class="text-center">Earnest Money Deposit Amount (₹)</th>
                                <th class="text-center">Total Paid Amount (₹)</th>
                                @*<th class="text-center">Verify</th>*@
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">@UserDataModel.ApplicationNumber</td>
                                <td class="text-center">@UserDataModel.FullName</td>
                                <td class="text-center">@UserDataModel.FatherName</td>
                                <td class="text-center">@UserDataModel.TransactionID</td>
                                <td class="text-center">@UserDataModel.TransactionDate</td>
                                <td class="text-center">@UserDataModel.FormFee</td>
                                <td class="text-center">@UserDataModel.GSTAmount</td>
                                <td class="text-center">@UserDataModel.EarnestMoney</td>
                                <td class="text-center">@UserDataModel.PaidAmount</td>
                                @*<td class="text-center">
                                        <a style="background-color: green; color: white;" class="btn btn-success"
                                           href="/Admin/ApprovePayment?applicationId=@UserDataModel.ApplicationId&schemeName=@UserDataModel.SchemeNameId&status=Approved"><strong>Approved</strong></a>
                                        <br />
                                        <br />
                                        <a style="background-color: orangered; color: white;" class="btn btn-success" id="btnRejectedPayment"><strong>Not Approved</strong></a>

                                    </td>*@
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <label for="usertype" class="text-uppercase">
                        Write Comments:
                        <span class="required-field"></span>
                    </label>
                    <textarea name="paymentStatusComment" id="paymentStatusComment" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                @*<a style="background-color: green; color: white;" class="btn btn-success"
                    href="/Admin/ApprovePayment?applicationId=@UserDataModel.ApplicationId&schemeName=@UserDataModel.SchemeNameId&status=Approved"><strong>Approved</strong></a>*@
                <a style="background-color: green; color: white;" class="btn btn-success" id="btnApprovePayment"><strong>Approved</strong></a>
                <a style="background-color: orangered; color: white;" class="btn btn-success" id="btnRejectedPayment"><strong>Not Approved</strong></a>
                <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="DocModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">CheckList Document Verify</h4>
            </div>
            <div class="modal-body pull-left" style="width:100%;">
                <div class="col-sm-12 col-xs-12">

                    <div class="table-responsive" style="padding:10px 0 0px 0;">
                        <table class="table table_css_main_cl table-bordered">

                            <tr>
                                <th class="text-center">S.No.</th>
                                <th class="text-center">CheckList Document Name</th>
                                <th class="text-center">View/Download</th>
                                <th class="text-center">Verify</th>
                            </tr>
                            <tr>
                                <td class="text-center">1</td>
                                <td class="text-center">Project Reports</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ProjectReportFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ProjectReport"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ProjectReportFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">2</td>
                                <td class="text-center">Proposed plan of land usage</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ProposedPlanLandUsesFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ProposedPlanLandUses"><strong>View/Download</strong></a>
                                    }

                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ProposedPlanLandUsesFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">3</td>
                                <td class="text-center">Partnership Deed/Memorandum & Articles of Association/ Certificate of Incorporation of the Company</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.MemorendumFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=Memorendum"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.MemorendumFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">4</td>
                                <td class="text-center">Scan copy of Pan Card</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanPANFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ScanPAN"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanPANFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">5</td>
                                <td class="text-center">Scan copy of Address Proof</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanAddressProofFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ScanAddressProof"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanAddressProofFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">6</td>
                                <td class="text-center">As per IT Act past three financial years (F.Y. 2019-20, 2018-19, 2017-18) Audited Balance Sheet and Profit and Loss Statement (If applicable)</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.BalanceSheetFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=BalanceSheet"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.BalanceSheetFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">7</td>
                                <td class="text-center">Income Tax Return  </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ITReturnFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ITReturn"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ITReturnFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">8</td>
                                <td class="text-center">Experience proof for industry establishment</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ExperienceProofFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ExperienceProof"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ExperienceProofFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">9</td>
                                <td class="text-center">educational / technical qualification</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantEduTechQualificationFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ApplicantEduTechQualification"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantEduTechQualificationFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">10</td>
                                <td class="text-center">If expansion or diversification of pre-established industry, then Xerox copy of latest electricity bill & other documents</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.PreEstablishedIndustriesDocFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=PreEstablishedIndustriesDoc"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.PreEstablishedIndustriesDocFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">11</td>
                                <td class="text-center">Full financial details for industry establishment if applicable</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.FinDetailsEstablishedIndustriesFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=FinDetailsEstablishedIndustries"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.FinDetailsEstablishedIndustriesFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td class="text-center">12</td>
                                <td class="text-center">If any other document related to proposed industry</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.OtherDocForProposedIndustryFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=OtherDocForProposedIndustry"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.OtherDocForProposedIndustryFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">13</td>
                                <td class="text-center">Caste Certificate</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanCastCertFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ScanCastCert"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanCastCertFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">14</td>
                                <td class="text-center">Identity Proof</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanIDFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ScanID"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ScanIDFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">15</td>
                                <td class="text-center">
                                    If Industrial Unit established outside GIDA, then attach related documents issued within last
                                    one year from the date of application
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.DocProofForIndustrialEstablishedOutsideGidaFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=DocProofForIndustrialEstablishedOutsideGida"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.DocProofForIndustrialEstablishedOutsideGidaFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">16</td>
                                <td class="text-center">Related bank verified signature</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.BankVerifiedSignatureFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=BankVerifiedSignature"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.BankVerifiedSignatureFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">17</td>
                                <td class="text-center">Applicant Photo</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantPhotoFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ApplicantPhoto"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantPhotoFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            <tr>
                                <td class="text-center">18</td>
                                <td class="text-center">Applicant Signature</td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantSignatureFileName))
                                    {
                                        <a style="background-color: green; color: white;" class="btn btn-success" target="_blank"
                                           href="/Admin/DownloadApplicantDocument?applicationId=@UserDataModel.ApplicationId&documentName=ApplicantSignature"><strong>View/Download</strong></a>
                                    }
                                </td>
                                <td class="text-center">
                                    @if (!string.IsNullOrEmpty(UserDataModel.ApplicantDocument.ApplicantSignatureFileName))
                                    {
                                        <a><input type="checkbox" /></a>
                                    }
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 col-xs-12">
                    <label for="usertype" class="text-uppercase">
                        Write Comments
                        <span class="required-field"></span>
                    </label>
                    <textarea name="paymentStatusComment" id="documentRejectedComment" class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <a style="background-color: green; color: white;" class="btn btn-success" id="btnApproveDocument"><strong>Approved</strong></a>
                <a style="background-color: orangered; color: white;" class="btn btn-success" id="btnRejectedDocument"><strong>Not Approved</strong></a>
            </div>
        </div>
    </div>
</div>
