@using DataLayer;
@using GidaGkpWeb.Models;
@{
    ViewBag.Title = "Invitation Letter";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var UserDataModel = ViewData["UserDetail"] as ApplicationUserModel;
}

<link rel="stylesheet" href="~/styles/table_form.css">
<script src="~/Scripts/App/Masters/AdminLookup.js"></script>
<script src="~/Scripts/App/Masters/navigation.js"></script>
<script src="~/Scripts/App/Masters/Invitation.js"></script>


<div class="container">
    <form action="~/Admin/SaveNewInvitation" method="post">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <h3 style="font-size:18px;">Generate Invitation Letter </h3>
                <hr />
            </div>
            <input type="hidden" value="@UserDataModel.ApplicationId" name="applicationId" />
            <input type="hidden" value="@UserDataModel.UserId" name="Applicant" />
            @*<div class="col-sm-12 col-xs-12">
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="usertype">Scheme Type<span class="required-field"></span></label>
                        <select name="SchemeType" id="SchemeType" class="form-control"></select>
                    </div>
                    <div class="form-group col-sm-6 col-xs-12">
                        <label for="usertype">Scheme Name<span class="required-field"></span></label>
                        <select name="SchemeName" id="SchemeName" class="form-control"></select>
                    </div>
                </div>*@
            <div class="col-sm-12 col-xs-12">
                <div class="form-group col-sm-6 col-xs-12">
                    <input type="hidden" name="Id" value="" />
                    <label for="user" class="">Name of the applicant who will be the lessee</label>
                    <input type="text" name="fullname" id="fullname" value="@UserDataModel.FullName" readonly class="form-control">

                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class="">Address of the Applicant </label>
                    <input type="text" name="Address" id="Address" value="@UserDataModel.PAddress" readonly class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class=""> Sector Name </label>
                    <input type="text" name="SectorName" id="SectorName" value="@UserDataModel.PlotSectorName" readonly class="form-control">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class=""> Application Number </label>
                    <input type="text" name="ApplicationNo" id="ApplicationNo" value="@UserDataModel.ApplicationNumber" readonly class="form-control">
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                @*<div class="form-group col-sm-6 col-xs-12">
                        <label for="user">Plot Range<span class="required-field"></span></label>
                        <input type="text" name="PlotRange" id="PlotRange" value="@UserDataModel.plotra" readonly  class="form-control">
                    </div>*@
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class=""> Plot Area  </label>
                    <input type="text" name="plotArea" id="plotArea" value="@UserDataModel.PlotArea" readonly class="form-control">
                    @*<input type="text" name="PlotArea" id="TotalPlotNumber" class="form-control">*@
                </div>
            </div>
            <div class="col-sm-12 col-xs-12">
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class=""> Date and Time of Interview   </label>
                    <input type="datetime-local" name="InterviewDateTime" id="InterviewDateTime" class="form-control">
                </div>
                <div class="form-group col-sm-6 col-xs-12">
                    <label for="user" class=""> Interview Mode   </label>
                    <select id="ddlinterview" name="InterviewMode">
                        <option>Select Mode</option>
                        <option>Interview</option>
                        <option>Lottery</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12" style="padding:20px 15px 50px 15px;">


                <input type="submit" id="btnSave" name="next" class=" btn btn-primary next action-button pull-right" value="Save" />
                <button type="button" class="cancel_plot_master" value="button">Cancel</button>
            </div>

        </div>
    </form>

</div>

